---
import Layout from "../layouts/Layout.astro";
import Hero from "../layouts/Hero.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import { Image } from "astro:assets";
import screenshot1 from "../../static/1.webp";
import screenshot2 from "../../static/2.webp";
import screenshot3 from "../../static/3.webp";
---

<Layout title="PersonaPlus" description="Give yourself a plus!">
    <Nav />
    <Hero />

    <section role="article">
        <div class="textDiv">
            <h1>
                What is <span>PersonaPlus</span>?
            </h1>
            <p>
                Simple, an app to help you <span> give yourself a plus </span>
                by providing routines, insights, and the reminders you need for a
                sportier and healthier life.
            </p>
        </div>
        <div class="imageDiv">
            <Image
                loading="lazy"
                decoding="async"
                src={screenshot1}
                alt="Real app screenshot, showcasing a session timer."
            />
        </div>
    </section>
    <section role="article">
        <div class="textDiv">
            <h1>Set a <span>routine</span> and get down to it</h1>
            <p>
                Simple. Create <span>Active Objectives</span> (AKA routines), and
                the app will handle reminders, live sessions, and in the future,
                even more.
            </p>
        </div>
        <div class="imageDiv">
            <Image
                loading="lazy"
                decoding="async"
                src={screenshot2}
                alt="Real app screenshot, showcasing the screen from where you create objectives."
            />
        </div>
    </section>
    <section role="article">
        <div class="textDiv">
            <h1>Get your <span>insights</span> and see how you're doing</h1>
            <p>
                Instantly get a basic report on some of your health stats. Much
                more is yet to be added, though.
            </p>
        </div>
        <div class="imageDiv">
            <Image
                loading="lazy"
                decoding="async"
                src={screenshot3}
                alt="Real app screenshot, showcasing the screen from where you create objectives."
            />
        </div>
    </section>
    <section role="article">
        <div class="textDiv">
            <h1>This one's <span>different</span>.</h1>
            <p>
                No ads. No premium plans. No tracking. No privacy concerns. No
                messy licenses.
                <br />
                Free Open Source Software. Period.
            </p>
            <a
                href="https://github.com/ZakaHaceCosas/personaplus"
                class="btn buttonAce"
                target="_blank"
                rel="noopener noreferrer"
            >
                See it on GitHub
            </a>
        </div>
    </section>
    <div class="rowWithStuff" id="download" role="menu">
        <h1>Give yourself a plus!</h1>
        <p>First preview version is available. Try it out!</p>
        <div class="actualStuffRow">
            <a
                class="btn buttonGod"
                href="https://github.com/ZakaHaceCosas/personaplus/releases/latest"
                target="_blank"
                rel="noopener noreferrer"
            >
                Download now!
            </a>
        </div>
        <p class="disclaimer">
            PS. The app is still a work in progress. Expect errors and lack of
            features.
        </p>
    </div>
    <Footer />
</Layout>
