---
import Layout from "../layouts/Layout.astro";
import Hero from "../layouts/Hero.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="PersonaPlus">
    <Nav />
    <Hero />

    <section>
        <div class="textDiv">
            <h1>
                What is <span>PersonaPlus</span>?
            </h1>
            <h2>
                PersonaPlus is a simple app to help you <span
                    >give yourself a plus</span
                >
                by providing routines, tips, insights, reminders, and everything
                else you need to lead a sportier and healthier life.
            </h2>
        </div>
        <div class="imageDiv">
            <img
                loading="lazy"
                decoding="async"
                src="https://raw.githubusercontent.com/ZakaHaceCosas/personaplus-website/main/static/pp-b24-screen-1.webp"
                alt="Real app screenshot, showcasing a session timer."
            />
        </div>
    </section>

    <section>
        <div class="textDiv">
            <h1>How does it work?</h1>
            <h3>
                Simple. Create <span>objectives</span> (AKA routines), and the app
                will handle reminders, live sessions, and in the future, even more.
            </h3>
        </div>
        <div class="imageDiv">
            <img
                loading="lazy"
                decoding="async"
                src="https://raw.githubusercontent.com/ZakaHaceCosas/personaplus-website/main/static/pp-b24-screen-2.webp"
                alt="Real app screenshot, showcasing the dashboard."
            />
        </div>
    </section>
    <section id="privacy">
        <div class="textDiv">
            <h1>This one's <span>different.</span></h1>
            <p>
                No ads. No premium plans. No tracking. No privacy concerns. No
                messy licenses.
                <br />
                Free Open Source Software. Period.
            </p>
            <a
                href="https://github.com/ZakaHaceCosas/personaplus"
                class="btn buttonAce"
                target="_blank"
                rel="noopener noreferrer"
            >
                See it on GitHub
            </a>
        </div>
    </section>
    <div class="rowWithStuff" id="socials">
        <h1>Give yourself a plus!</h1>
        <p>First preview version is available. Try it out!</p>
        <div class="actualStuffRow">
            <a
                class="btn buttonGod"
                href="https://github.com/ZakaHaceCosas/personaplus/releases/latest"
                target="_blank"
                rel="noopener noreferrer"
            >
                Download now!
            </a>
        </div>
        <p class="disclaimer">
            PS. The app is still a work in progress. Expect errors and lack of
            features.
        </p>
    </div>
    <Footer />
</Layout>
