/* Reset stuff */
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: "Be Vietnam Pro", sans-serif;
    scroll-behavior: smooth;
    color: white;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: #00000010;
}
::-webkit-scrollbar-thumb {
    background: #32ff80;
}
::-webkit-scrollbar-thumb:hover {
    background: #22af70;
}

.disclaimer {
    text-wrap: wrap;
    text-align: center;
    font-size: smaller;
    opacity: 0.5;
}

/* variables */
:root {
    --Background: rgba(14, 16, 19, 1);
    --Darker: rgba(20, 23, 28, 1);
    --Dark: rgba(32, 35, 40, 1);
    --ACE: rgba(50, 255, 128, 1);
    --ACEstroke: rgba(25, 128, 64, 1);
    --BorderRadius: 15px;
    --TrickyShadow: 0 0 0 0.075rem;
    --Shadow: 0px 0px 1.75rem 0px;
}

/* button and link styles and transitions */
a {
    transition: color 350ms ease;
}
a:hover {
    will-change: color;
    color: var(--ACE);
}

span {
    color: var(--ACE);
}
.btn {
    transition:
        transform 350ms ease,
        box-shadow 350ms ease;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--BorderRadius);
    max-height: 20px;
    padding: 12px 24px;
    border: 4px solid;
}
.btn:hover {
    transform: scale(1.1);
    will-change: transform, box-shadow;
}
.buttonAce {
    background-color: var(--ACE);
    border-color: var(--ACEstroke);
    color: black;
}
.buttonAce:hover {
    box-shadow:
        var(--TrickyShadow) var(--ACE),
        var(--Shadow) var(--ACEstroke);
    color: black;
}
.brandFont {
    font-family: "JetBrains Mono";
}
html,
body {
    overflow-x: hidden;
    max-width: 100vw;
    background-color: var(--Background);
}
nav {
    background-color: var(--Darker);
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 4px solid var(--Dark);
    box-shadow: 0px 0px 30px 0px #000;
    height: 35px;
}
.navBrand,
.navLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.navLinks {
    gap: 5px;
}
.navLinks a {
    padding: 10px 15px;
    text-decoration: none;
    transition: background-color 350ms ease;
    border-radius: var(--BorderRadius);
}
.navLinks a:hover {
    will-change: background-color;
    background-color: var(--Background);
}
.navToggleWrapper {
    display: none;
    font-size: 1.5rem;
}
/* sections */
section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--Darker);
    flex-direction: row;
}
section:nth-of-type(2) {
    flex-direction: row-reverse;
    background-color: var(--Dark);
}
section div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 50px;
}
section div.imageDiv {
    align-items: center !important;
    justify-content: center !important;
}
section div.textDiv h1 {
    font-size: 40px;
}
section div.textDiv p {
    font-weight: 400;
    font-size: 20px;
}
section div.imageDiv img {
    flex: 1;
    width: 50%;
    max-height: 80%;
    height: 80%;
    object-fit: scale-down;
    transition:
        box-shadow 350ms ease,
        transform 350ms ease,
        background-color 350ms ease;
}
section div.imageDiv img:hover {
    will-change: box-shadow, transform, background-color;
    box-shadow:
        var(--TrickyShadow) var(--ACE),
        var(--Shadow) var(--ACE);
    background-color: var(--ACEstroke);
    transform: scale(1.05);
}

#hero {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, #000, var(--Darker));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#hero h1 {
    text-align: center;
    font-size: 7vh;
    line-height: 7.25vh;
}

#hero h1 span {
    font-size: 15vh;
    line-height: 15.5vh;
    color: var(--ACE);
}

#hero h3 {
    font-weight: 400;
    max-width: 50vw;
    text-align: center;
    text-wrap: stable;
}
#moving,
#moving2 {
    width: 100vw;
    height: 50px;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;
}
#moving p,
#moving2 p {
    display: inline-block;
    font-size: 20px;
    opacity: 0.25;
    white-space: nowrap;
}
#moving p {
    animation: scroll 50s linear infinite;
}
#moving2 p {
    animation: scroll 60s linear infinite;
}
@keyframes scroll {
    0% {
        transform: translateX(20%);
    }
    100% {
        transform: translateX(-100%);
    }
}
img {
    display: inline-block;
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    background-color: var(--Darker);
    border-top: 4px solid var(--Dark);
    box-shadow: var(--Shadow) #000;
    max-width: calc(100vw - 80px);
    padding: 40px;
    width: 100%;
}
.footerStuff {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.footerStuff p {
    max-width: 55%;
    text-align: right;
    font-size: smaller;
    color: #999;
}

footer .brands {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

footer .footerSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

footer .footerSection img {
    height: 90px;
    object-fit: contain;
}

.actualStuffRow {
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.rowWithStuff {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;
    width: 100vw;
    min-height: 50vh;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

#smallLogo {
    height: 50px;
    width: 50px;
    object-fit: scale-down;
}

/* footer */
footer .social-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

footer .social-icons svg {
    transition: transform 350ms ease;
}

footer .social-icons svg:hover {
    will-change: scale;
    transform: scale(1.1);
}

footer .social-icons svg path {
    transition: fill 350ms ease;
}

footer .social-icons svg:hover path {
    will-change: fill;
    fill: var(--ACE);
}
#bigLogo {
    line-height: 90%;
    font-size: larger;
}
/* responsive */
@media only screen and (max-width: 900px) {
    section,
    section:nth-of-type(2) {
        flex-direction: column;
        height: auto;
        padding: 50px 0px;
        gap: 50px;
        width: 100vw;
    }
    section div {
        flex: 0;
    }
    section div.textDiv {
        padding: 0px 40px;
    }
    section div.imageDiv {
        padding: 0;
        margin: 0;
        width: 80%;
        height: auto;
    }
    #bigLogo {
        display: none;
    }
    footer {
        align-items: flex-start;
    }
    footer .brands {
        flex-direction: column;
        justify-content: flex-start;
    }
    .social-icons {
        align-items: flex-start;
        justify-content: flex-start;
    }
    .actualStuffRow {
        flex-direction: column;
    }
    #hero {
        height: auto;
        min-height: calc(100vh - 120px);
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #hero h1 {
        font-size: 4vh;
    }
    #hero h1 span {
        font-size: 8vh;
        line-height: 4vh;
    }
    #hero h3 {
        max-width: 75vw;
    }
    nav {
        width: calc(100vw - 40px);
    }
    .rowWithStuff {
        padding: 20px 40px;
        max-width: calc(100vw - 80px);
        text-align: center;
    }
    footer {
        flex-direction: column;
        align-self: flex-start;
        justify-content: flex-start;
        gap: 40px;
    }
    footer .footerStuff {
        align-items: flex-start;
    }
    footer .footerStuff p {
        text-align: left;
        max-width: 100%;
    }
    #actualNavMenu {
        display: none;
        flex-direction: column;
        background-color: var(--Dark);
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem;
        align-items: flex-start;
        padding: 10px;
    }

    #actualNavMenu a {
        width: calc(100% - 60px);
    }

    #actualNavMenu.active {
        display: flex;
    }

    .navToggleWrapper {
        display: block;
    }
}
