<div id="hero" role="banner">
    <h1>
        GIVE YOURSELF A
        <br />
        <span>PLUS</span>
    </h1>
    <h3>
        With <span>PersonaPlus</span>, the (free) app designed to help you
        (actually) take care of your life, (privately) understand you, and
        (effectively) help you reach your best version.
    </h3>
</div>
