<div id="hero">
    <h1>
        GIVE YOURSELF A
        <br />
        <span>PLUS</span>
    </h1>
    <img
        loading="lazy"
        src="https://raw.githubusercontent.com/ZakaHaceCosas/personaplus-website/main/static/mockup_main.webp"
        decoding="async"
        width="2000"
        height="4086"
        alt="PersonaPlus Brand Mockup, showing one Android device with PersonaPlus' main page open."
    />
</div>
