<div id="hero" role="banner">
    <div id="moving">
        <p></p>
    </div>
    <h1>
        GIVE YOURSELF A
        <br />
        <span>PLUS</span>
    </h1>
    <h3>
        With <span>PersonaPlus</span>, the (<span>free</span>) app designed to
        help you (<span>actually</span>) take care of your life and (<span
            >effectively</span
        >) help you reach your best version.
    </h3>
    <div
        style="display: flex; flex-direction: row; gap: 20px; margin-top: 10px;"
    >
        <a class="btn buttonAce" href="#download">Download now</a>
        <!-- <a
            class="btn buttonAce"
            href="/blog/"
            target="_blank"
            rel="noopener noreferrer"
        >
            Dev blogs
        </a> -->
    </div>
    <div id="moving2">
        <p></p>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        try {
            const moving: HTMLElement | null =
                document.querySelector("#moving p");
            const moving2: HTMLElement | null =
                document.querySelector("#moving2 p");
            const text =
                "CREATE ROUTINES · KEEP GOING · GET REMINDERS · GET INSIGHTS · SEE YOUR PROGRESS · <b>GIVE YOURSELF A PLUS!</b> · STAY MOTIVATED · ";
            const text2 =
                "Understand your progress · Turn weird medical numbers into insights you get · <i>Flex your streak!</i> · Use the phone for something useful · Give yourself a plus! · Get motivation to create healthier habits · "; // idk
            // btw yes i'm adding streaks to the app, some day
            if (!moving || !moving2) {
                throw new Error("No #moving, or no #moving2 :(");
            }

            const finalText =
                text.repeat(5) + " <b><span>GIVE YOURSELF A PLUS!</span></b>";
            const finalText2 =
                text2.repeat(5) + " <b><span>Give yourself a plus!</span></b>";

            moving.innerHTML = finalText;
            moving2.innerHTML = finalText2;
        } catch (e) {
            console.error(e);
        }
    });
</script>
